[flake8]
max-line-length = 128
ignore=
    F722, # flake8 doesn't understand Blender's property annotations
    W503, # WTF W503 and W504 contradict each other
    F821, # Very strange
    E401
    E741

exclude=lib/yaml, tmp, dev, demo, backups

