__pycache__
.idea
.vscode
.mypy_cache
backups
demo
work
dev
rig
tmp
___test.py
charmorph_updater/CharMorph_updater_status.json

# Exclude the character data
/data/characters

# For those developing using visual studio
/.vs

