[MESSAGES CONTROL]
disable=c-extension-no-member,       # Suppress errors when using bpy imports
        invalid-name,                # Blender has its own naming conventions that doesn't match with pylint ones
        too-few-public-methods,      # Subclasses of Blender classes sometimes require too few public methods
        line-too-long,               # It's strange to have such line length limitations in our era of wide screens
        too-many-ancestors,          # It's not my fault that yaml uses so many ancestors
        eval-used,                   # I believe I use eval() in very safe way
        multiple-imports,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring

[MASTER]
ignore=lib/yaml
